<h1>Lista de Carros</h1>

  <% @carros.each do |carro| %>
      <a href="/carros/<%= carro.id %>">
        <%= carro.modelo %> </a>
  <% end %>

<br> <br>  <%= link_to "Adicionar carro", new_carro_path %></li> 